---
title: Sentinel Sample Test Results
v5: true
gateway-url: https://gateway.vectorsurv.org/core/ppf/menu/path/81
---

Quickly generate reports from your agency or from multiple agencies to compare arbovirus activity.

- **Agency**: Choose the agency(ies) you wish to generate a report for. Multiple agencies can be selected by using the _CTRL/CMD/SHIFT_ keys while selecting values.
- **Disease Week**: Select the epi-week and year for the data if you are interested in a specific week. Choosing a date range here will autofill the **From/To** sections below.
- **From/To**: Manually enter the start/end dates for the data. The date format is based on the settings under [Account Preferences]({{ site.baseurl }}/docs/settings/account-preferences). The subsequent boxes are a time field; if not provided, the hour is assumed to be 0 of 00:00.
- **Report**: Use the checkboxes to select which type of report(s) will be generated. If there are results in the provided date range for the selected agencies, you can view and download the resulting tables.
