---
title: New Results
gateway-url: https://gateway.vectorsurv.org/arthro/ppf/pool_test_add
youtube-url: https://youtu.be/qNf_VHVOCJM
---
The form for submitting both positive and negative pool test results.

Start by entering the year using the dropdown arrow and the **[Pool #]({{ site.baseurl }}/docs/arthropod/pool)** that you are testing. You can enter a **Test Date** manually or by  using the calendar feature that appears when you click in the field. Note that the Test Date cannot be earlier than the [pool's]({{ site.baseurl }}/docs/arthropod/pool) [collection date]({{ site.baseurl }}/docs/arthropod/collection). Choose the type of test used under the **Method** column and the pathogen target under the **Target** column using the dropdown arrows. The **Value** column allows you to add the result from the test, which can be added later through the [editing]({{ site.baseurl }}/docs/arthropod/results-manage) feature if you don't yet have results. If results are not yet known, choose *Pending* as the **Status** of this test or any other option from the dropdown menu if you do have results. Finally, you can add any relevant comments by clicking on the ellipses under the **Comments** column.

You can optionally submit more than one pool test result by filling out the new row that appears when the previous row has been completed.

![New Results]({{ site.baseurl }}/assets/images/docs/new-result.PNG)

There is a box on the right-hand side of the screen to load pools from specific [submissions]({{ site.baseurl }}/docs/arthropod/submission) into the New Results table if all the corresponding pools were tested on the same date. Clicking the link in the box will pull up a pop-up window requiring you to select the **Year**, **Submission ID**, and **Test Date**. You can choose to fill in the fields for **Method**, **Target**, and **Status** if all the pools for that Submission ID have the same values. Leaving these fields blank will allow you to edit them individually on the table before adding the new test results. **Close** the window once the pools have been loaded into the table. Note that loading pools in this way will delete any previously entered data.
![Load Submissions]({{ site.baseurl }}/assets/images/docs/load-submissions.PNG)
